:root {
    --cor-branco-00: #ffffff;
    --cor-branco-01: #E9E9E9;

    --cor-azul-001: #D0D8E8;
    --cor-azul-700: #0C1933;
    --cor-azul-850: #08152F;
    --cor-azul-900: #010816;

    --cor-verde-primary: #E1FF50;
}